/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #e0e0e0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}
.text-center {
  text-align: center;
}

.mat-mdc-card {
  padding-left: 50px;
  padding-right: 50px;  padding-bottom: 30px;
}
.anc{
  text-decoration: none;
  color: red;
  /* font-style: oblique; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.anc:hover{
  color: #0d7cb8;
}

.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mu20 {
  margin-bottom: 20px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mu10 {
  margin-bottom: 10px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
